:root {
  --brand-bittersweet: #f55a5a;
  --brand-white: #fff;
  --brand-black: #2b283a;
  --brand-gray: #918e9b;
  --brand-lightgray: #e5e5e5;
  --brand-verylightgray: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 50px;
  background: var(--brand-lightgray);
  font-family: "Inter", sans-serif;
  font-size: 10.24px;
  color: var(--brand-black);
}
.container {
  margin: 0 auto;
  max-width: 550px;
  background: var(--brand-white);
  flex-shrink: 0;
}
.header {
  height: 64px;
  display: flex;
  background: var(--brand-bittersweet);
  align-items: center;
  justify-content: center;
}
.header--site-logo {
  width: 24px;
  height: 24px;
}
.header--site-title {
  margin-left: 7px;
  font-size: 14.461px;
  font-weight: 500;
  letter-spacing: -1.085px;
  color: var(--brand-white);
}
.main {
  padding-top: 45px;
  padding-bottom: 28px;
}
.card {
  padding: 0px 40px;
  display: flex;
  align-items: center;
}
.card--cover-img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
  background-color: lightgray;
}
.card--col {
  width: 326px;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
}
.card--location-detail {
  display: flex;
  align-items: center;
}
.card--pin-img {
  width: 7px;
  height: 9.545px;
}
.card--country {
  font-weight: 400;
  margin-left: 4px;
  letter-spacing: 1.741px;
  text-transform: uppercase;
}
.card--google-map-url {
  margin-left: 12px;
  color: var(--brand-gray);
  font-weight: 400;
  text-decoration-line: underline;
}
.card--title {
  margin-top: 4px;
  font-size: 25px;
  font-weight: 700;
}
.card--dates {
  margin-top: 7px;
  font-weight: 700;
}
.card--description {
  margin-top: 9px;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
}
.horizontal-line {
  width: 478px;
  border: 1px solid var(--brand-verylightgray);
  margin: 18px 32px 18px 40px;
}
